/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(0, 0, 33); */
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image: url(/home-bg.jpg)
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
}

.left {
    font-size: 2rem;
}

.left a{
    text-decoration: none;
    color: white;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    /* margin: 23px 0; */
    align-items: center;
    margin-left: 60px;
}

.firstSection>div {
    width: 30%;
    margin-right: 20px;
}


.leftSection {
    font-size: 1.5rem;
    width: 30%;
}

.leftSection p {
    font-size: 2rem;
}

.rightSection{
    width: 30%;
}

.rightSection img {
    width: 80%;
    margin: 50px 0;
}

.btns{
    padding: 43px 0;
}

.fa-brands{
    padding: 0 10px;
}

.btn{
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.purple {
    color: #9f59fa;
}