/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image:url(/leone-venter-VieM9BdZKFo-unsplash.jpg)
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #20202122;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    /* color: rgb(153, 153, 226); */
    color: #6b0ddd;
}

.left {
    font-size: 2rem;
}

.left a {
    text-decoration: none;
    color: white;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    /* margin: 23px 0; */
    align-items: center;
    margin-left: 60px;
}

.firstSection>div {
    width: 30%;
    margin-right: 20px;
}


.leftSection {
    font-size: 1.5rem;
    width: 30%;
}

.leftSection p {
    font-size: 2rem;
}

.rightSection {
    width: 30%;
}

.rightSection img {
    width: 80%;
    margin: 50px 0;
}

.btns {
    padding: 43px 0;
}

.fa-brands {
    padding: 0 10px;
}

.bttn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.purple {
    color: #6b0ddd;
    /* color: brown; */
}

.secondSection {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 50px 0;
}

.secondSection .intro {
    width: 40%;
}

.secondSection h5 {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 25px;
}

.secondSection p {
    font-size: 15px;
    margin: 15px 0;
}

.thirdSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.thirdSection h1 {
    display: grid;
    justify-content: center;
    font-size: 2rem;
}

.contactSocial{
    padding-left: 10px;
    margin: 20px 0;
}

.contactSocial a{
    font-size: 2rem;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #2020213f;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 10vh;
    align-items: center;
}

.social a {
    padding: 0 5px;
}